{% extends 'base.html' %}
{% load static %}
{% block titulli %}BLOG | ABOUT{% endblock  %}
{% block kontent %}

<section class="py-md-5">
	<div class="container py-5">
		<div class="row">
			<div class="col-md-4 align-self-start">
				<div class="lc-block">
					<div editable="rich">
						<h1 class="rfs-25">About us</h1>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
			<div class="col-md-4">
				<div class="lc-block">
					<div editable="rich">
						<p> Nestled in a breathtaking location, our hotel is a 5 minutes walk from the beach. It offers free private parking, a seasonal outdoor swimming pool and a terrace with a stunning view. 
						</p>
						<p>The accomodation offers 24-hour front desk, room service and currency exchange for guests.<br></p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
			<div class="col-md-4">
				<div class="lc-block">
					<div editable="rich">
						<p> Pamper yourself with our unparalleled amenities, including a world-class spa, state-of-the-art fitness center, and a stunning rooftop pool with panoramic views.</p>
						<p> Savor culinary delights at our award-winning restaurants, where our renowned chefs create masterful culinary creations using the freshest local ingredients.</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
		</div>
	</div>
</section>
<section>
	<div class="container-fluid p-0 overflow-hidden">
		<div class="row g-0">
			<div lc-helper="background" class="col-lg-6 order-lg-2 " style="min-height: 45vh; background-size: cover; background-position: center; background-image: url('{% static 'info/images/roof.jpg'%}">

			</div>
			<div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
				<div class="lc-block mb-5">
					<div editable="rich">
						<h1 class="fw-bold">Stay in our world of style and luxury<br></h1>
					</div>
				</div>
				<div class="lc-block col-xxl-9">
					<div editable="rich">
						<p>Experience the epitome of luxury at Our Luxury Hotel, where every detail is carefully curated to exceed your expectations. Unwind in the lap of luxury, enveloped in an ambiance of refined indulgence, and create cherished memories that will last a lifetime.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row g-0">
			<div lc-helper="background" class="col-lg-6" style="min-height: 45vh; background-size: cover;background-position: center; background-image: url('{% static 'info/images/rooftop1.jpg' %}">
			</div>
			<div class="col-lg-6 my-auto px-5 py-5 text-start text-lg-end">
				<div class="lc-block mb-5">
					<div editable="rich">
						<h1 class="fw-bold"><br>Come, Experience the Extraordinary</h1>
					</div>
				</div>
				<div class="lc-block col-xxl-9 offset-xxl-3">
					<div editable="rich">
						<p>Escape to our luxury hotel and embark on a journey of indulgence, sophistication, and unparalleled service. Discover a world where every moment is a celebration of luxury and refinement. Come, experience the extraordinary at our luxurious haven and create memories that will last a lifetime. We look forward to welcoming you to our esteemed property and ensuring your stay with us is nothing short of perfection.

</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="d-flex text-center" lc-helper="background" style="min-height: 40vh; background-attachment: fixed; background-size:cover; background-position: center center;background-color:#eee;background-image: url(https://images.unsplash.com/photo-1626412891666-1e7a173d886c?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8OTZ8fGNvbXBhbnl8ZW58MHwwfHx8MTYzNTA3MDA3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768);">
		<div class="lc-block  my-3 align-self-center w-100 py-5">
			<div editable="rich">
				<h2 class="display-4">Let us accomodate you as you deserve! </h2>
				<p>Contact us today to reserve your stay and discover the real luxury hospitality.



</p>
			
	</div>
</section>
<section>
	<div class="container py-5">
		<div class="row align-items-center">
			<div class="col-md-4 align-self-center">
				<div class="lc-block border-top py-4" style="letter-spacing:10px">
					<div editable="rich">
						<h2>We choose the best for you!<br></h2>
					</div>
				</div>
				<div class="lc-block">
					<div editable="rich">
						<p class="lead">Experience exceptional dining at our award-winning restaurants, featuring exquisite cuisine prepared by our world-renowned chefs. Enjoy a cocktail or glass of wine at our stylish bar, where our mixologists create unique and unforgettable libations.</p>
						<p></p>
						<p></p>
					</div>
				</div><!-- /lc-block -->
				<div class="lc-block">
					<a class="btn btn-link ps-0" href="#" role="button">Learn more</a>
				</div><!-- /lc-block -->
			</div>
			<div class="col-md-8 px-md-6">
				<div class="lc-block">
					<div editable="rich">

						<p class="rfs-20">Our exquisite property boasts 40 rooms lavishly appointed rooms and suites, each meticulously designed to provide the ultimate in relaxation and rejuvenation.<br></p>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="py-md-5 container-fluid px-md-6">

		<div class="row mt-4">
			<div class="col-md-3 col-6 mb-5 mb-md-0">
				<div class="lc-block">
					<div class="text-center">
						

					</div>
				</div>
				<!-- /lc-block -->
			</div>
			<!-- /col -->
			<div class="col-md-3 col-6 mb-5 mb-md-0">
				<div class="lc-block">
					<div class="text-center">
						

					</div>
				</div>
				<!-- /lc-block -->
			</div>
			<!-- /col -->
			<div class="col-md-3 col-6 mb-5 mb-md-0">
				<div class="lc-block">
					<div class="text-center">
						

					</div>
				</div>
				<!-- /lc-block -->
			</div>
			<!-- /col -->
			<div class="col-md-3 col-6 mb-5 mb-md-0">
				<div class="lc-block">
					<div class="text-center">
						

					</div>
				</div>
				<!-- /lc-block -->
			</div>
			<!-- /col -->
		</div>
	</div>
</section>
<section>
	<div class="col-xxl-8 px-4 py-5 container-fluid">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{% static 'info/images/luxx.jpg' %}" srcset="{% static 'info/images/luxx.jpg' %}">
			</div>
			<div class="col-lg-6">
				<div class="lc-block mb-3">
					<div editable="rich">
						<p class="rfs-10">Live the unforgettable vacations with us!</p>
					</div>
				</div>
				<div class="lc-block mb-4">
					<div editable="rich">
					</div>
				<div class="lc-block mb-3">
					<div editable="rich">
						<p class="lead">Whether you're visiting for business or pleasure, our hotel offers the perfect setting for your next trip. We look forward to welcoming you to our luxurious hotel and providing you with an unforgettable experience.
						</p>
						<p></p>
						<p></p>
					</div>
				</div>

				<div class="lc-block mb-3">
					<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
				</div>



			</div>
		</div>
	</div>
</section>
<section>
	<div class="min-vh-100 d-flex">
		<div class="container align-self-center">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="lc-block py-5">
						<div editable="rich">

							<h2><strong>Unrivaled Amenities</strong></h2>
							<p class="lead"><br>Relax and rejuvenate at our wellness spa, where expert therapists pamper you with bespoke treatments. Take a dip in our sparkling pool, surrounded by lush gardens and tranquil serenity. Stay active and energized at our state-of-the-art fitness center, or indulge in recreational activities such as tennis or golf.<strong><br></strong></p>
						</div>
					</div><!-- /lc-block -->

					<div class="lc-block py-5">
						<div editable="rich">

							<h2><strong>World-Class Dining</strong></h2>
							<p class="lead"><br>Our award-winning chefs create a symphony of flavors using the finest ingredients, elevating your dining experience to new heights. With a range of dining options to suit your palate, you can savour gourmet meals in an ambiance that is nothing short of exceptional.<strong><br></strong></p>
						</div>
					</div><!-- /lc-block -->
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center ">

					<div class="lc-block mb-2" style="width:100%;padding:20px">
						<img alt="Photo by Guillaume Bolduc" class="img-fluid" src="{% static 'info/images/spaa2.jpg' %}" srcset="{% static 'info/images/spaa2.jpg' %}">
					</div>
					<div class="lc-block mb-2" style="width:100%;padding:20px">
						<img alt="Photo by Guillaume Bolduc" class="img-fluid" src="{% static 'info/images/welness.jpg' %}" srcset="{% static 'info/images/welness.jpg' %}">
					</div>

				</div>
				<div class="col-xs-12 col-sm-15 col-md-5 col-lg-3 ">
					<div class="lc-block py-5">
						<div editable="rich">

							<h2><strong>Impeccable Service</strong></h2>
							<p class="lead"><br>From the moment you arrive until the time of your departure, every aspect of your stay is carefully curated to ensure your utmost satisfaction. <strong><br></strong></p>
						</div>
					</div><!-- /lc-block -->

					<div class="lc-block py-5">
						<div editable="rich">

							<h2><strong>Unforgettable nights</strong></h2>
							<p class="lead"><br>We organize special nights under classic timbers to make your vacations hard to forget!<strong><br></strong></p>
						</div>
					</div><!-- /lc-block -->
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 order-lg-2 min-vh-lg-50 " style=""></div>
			<div class="col-lg-6 order-lg-1 my-auto p-lg-5">
				<div class="lc-block">
					<div editable="rich">
						<h1 class="fw-bold display-3">Let the lux choose you!</h1>
						<p></p>
						<p></p>
					</div>
				</div>
				<div class="lc-block col-lg-9">
					<div editable="rich">
						<p class="lead">Discover a world of exclusive privileges and amenities tailored to your every desire, from our bespoke concierge service to our stunning rooftop terrace offering breathtaking views of the city.</p>
						<p></p>

						<div class="lc-block mb-2" style="width:100%">
							<img alt="Photo by Guillaume Bolduc" class="img-fluid" src="{% static 'info/images/roof3.jpg' %}" srcset="{% static 'info/images/roof3.jpg' %}">
						</div>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




{% endblock  %}